<html>
    <head>
        <title>Coffee shop</title>
    </head>
    <body>
        <div class="container" id="client_login">
            <h1>Log in</h1>
            <div class="container">
                <label for="email">Email</label>
                <input id="email" class="email" placeholder="user@yourEmail.com">
                <br>
                <label for="password">Password</label>
                <input id="pasword" class="password">
            </div>
            <br>
            <div>
                <button type="submit">Log in</button>
            </div>
            <br>
            <a href="">not a member ?</a>
        </div>
    </body>
</html>