<html>
    <head>
        <title>Coffee Shop</title>
        <link rel="stylesheet" href="http://localhost:8080/navBar.css">
    </head>
    <body>

        <div class="topnav">
            <a class="active" href="http://localhost:8080/clientPage">Home</a>
            <a href="http://localhost:8080/menu">Menu</a>
            <a href="http://localhost:8080/orderForm">Order</a>
            <a href="http://localhost:8080/myOrder">MyOrder</a>
            <a href="http://localhost:8080/">Log Out</a>
          </div>
        
          <div class="container" id="homePage">
            <h1>Welcome to our coffee shop</h1>

          </div>
    </body>
</html>