<html>
    <head>
        <title>Coffe Shop</title>
    </head>
    <body>
        <div class="container" id="logOn_Client">
            <h1>Log On</h1>
            <label>First name</label>
            <input type="text" id="First_name" placeholder="Your name">
            <br>
            <label>Last name</label>
            <input type="text" id="Last_name" placeholder="Your last name">
            <br>
            <label>Birth day</label>
            <input type="number" id="Birth-day" placeholder="yyyy-mm-dd">
            <br>
            <label>Email</label>
            <input type="email" id="Email" placeholder="your@email.com"> 
            <br>
            <label>Password</label>
            <input type="password" id="Password" placeholder="password">
        </div>
        <br>
        <form action="http://localhost:8080/">
            <button type="submit">Back</button>
        </form>
    </body>
</html>