<html>
    <body>
        <hr><br>
        <p>Welcome to the Coffe Shop
        </p>
        <div class="row">
            <div class="col-md-4">
                <p>
                    Quality 
                    We strif for quality to give our customers the best experience in the city
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Sense of Home
                    We aims to give the feeling of being at home enjoying your best beverage while you are with ur friends
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Community
                    Sense of bellonging ...
                </p>
                
            </div>
        </div>
    </body>

</html>
