<html>
    <head>
        <title>Coffee Shop</title>
    </head>
    <body>
        <div class="container" id="index_Container">
            <h1>Welcome to our coffee Shop</h1>
            <h3>Please let us know what user are you</h3>
            <div>
                <label>Choose one of the options bellow</label>
                <br>
                <button type="submit" onclick="">Client</button>
                <button type="submit" onclick="">Staff</button>
            </div>
        </div>
    </body>


</html>