<html>
    <head>
        <title>Coffee Shop</title>
    </head>
    <body>

        <div class="container" id="index_Container" >
            <h1>Welcome to our coffee Shop</h1>
            <h3>Please let us know what user are you - <h2>Remembering that Visitor cant order</h2></h3>
            <hr>
            <div>
                <label>Choose one of the options bellow</label>
                
                <form action="http://localhost:8080/clientLogin">
                    <br>
                    <button type="submit">Client</button>
                </form>
                <form action="http://localhost:8080/stafflLogin">
                    <button type="submit">Staff</button>
                </form>
                <form action="http://localhost:8080/visitorMenu">
                    <button type="submit">Visiting</button>
                </form>
            </div>
        </div>
    </body>


</html>