
<html>
    <body>
        <div class="container mt-4">

            <p>
                Please enter your personal information to log in
            </p>

            <div class="row">
                <div class="col-md-6" >
                    <div class="input-group">
                        <div class="input-group-prepend" >
                        <span class="input-group-text">Username</span>
                        </div>
                        <input type="text" aria-label="First name" class="form-control" placeholder="Insert your username">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6" >
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text" aria-colspan="3"> Password </span>
                        </div>
                        <input type="password" aria-label="Password entry" class="form-control" placeholder="Password">
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <a href="#" class="nav-link">Forgot password</a>
                <a href="#" class="nav-link">Forgot username</a>
            </div>
        </div>
    </body>
</html>
