
<body>
    
    <form action="/login" method="POST">

        <div class="col-md-6 container justify-content-center mt-4">

            <p>
                Please enter your personal information to log in
            </p>






            <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>  



            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <br>
            <div class="row">
                <a href="#" class="nav-link">are youan employee?</a>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</body>

