<body onload="getMenu()">



  <script>
    function getMenu(){

        var http = new XMLHttpRequest();
        var url = '/getMyOrder'
        http.open('POST', url, true);
        var user_id = '<%= id %>'
        var params = 'user_id='+user_id;

        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function (){
            if (http.readyState == 4 && http.status == 200){
                var Order = JSON.parse(this.responseText);

                var SummaryContainer = "<table class='table table-striped' id='Summary_Table'> <th>Items</th> <th>Quantity</th> <th>Total</th> <th></th>";
                var orderTotal = 0;
                var quantityTotal = 0;

                for (element in Order){
                  SummaryContainer += "<tr> <td>"+ Order[element].Item+"</td> <td>"+ Order[element].Quantity +"</td> <td>$" + Order[element].Order_total +"</td> <td><button 'type=submit' class='btn btn-primary' onclick='removeFromOrder("+ Order[element].order_id+")'>Remove</button></td></tr>";

                  orderTotal += Order[element].Order_total;
                  quantityTotal += Order[element].Quantity;
                  console.log(orderTotal+ '--' + Order[element].Order_total);
                }
                SummaryContainer+= "<tr><td>Your total</td> <td>"+ quantityTotal +"</td> <td>$"+ orderTotal.toFixed(2) +"</td> <td></td></tr></table>";
                document.getElementById("summary").innerHTML = SummaryContainer;

            }
        }
        http.send(params);
    };


    function removeFromOrder(order_id){
      var http = new XMLHttpRequest();
        var url = '/deleteItem'
        http.open('POST', url, true);
        var params = 'item_id='+order_id;


        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function (){
          if(http.readyState == 4 && http.status == 200){
              alert("Its been removed");
          }
        }
        http.send(params);
        getMenu();
    }
</script>




<div class="row justify-content-center">
  <div class="col-md-6 mt-2" >
      <p class="font-weight-bold text-center">Your order summary</p> <br>
      <div class="container" id="summary">
      </div>
  </div>
</div>

<div class="row justify-content-end">
  <div class="col-md-4">
    <button type=submit class='btn btn-primary'> Proceed to pay</button>
  </div>
</div>



</body>