<html>
    <head>
        <title>Coffee shop</title>
    </head>
    <body>
        <div class="container" id="client_login">
            <h1>Staff log in</h1>
            <div class="container">
                <label for="employee_number">Employee number</label>
                <input id="employee_number" class="number" placeholder="your employee number">
                <br>
                <label for="password">Password</label>
                <input id="pasword" class="password">
            </div>
            <br>
            <div>
                <button type="submit">Log in</button>
            </div>
            <br>
            <a href="http://localhost:8080/clientLogin">not a staff ?</a>
        </div>
    </body>
</html>