<body>

<div class="jumbotron">
  <h1 class="display-4">Review Orders</h1>
  <p class="lead">Review orders that are still pendeing in the system</p>
  <hr class="my-4">
  <p>All the orders have to be removend from the system once they are finished. To do so just click on the button 'Remove', you are allowed to do it item by item. The 
      user will be notified by order removed
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

</body>