
<body>
    
    <form action="/staffLogIn" method="POST">

        <div class="col-md-6 container justify-content-center mt-4">

            <p>
                Please enter your personal information to log in
            </p>

            <div class="form-group">
                <label for="InputNumber">Employee Number</label>
                <input type="text" class="form-control" id="employee_number" name="employee_number" aria-describedby="employeelHelp" placeholder="Enter Employee number">
            </div>  



            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</body>

