<html>
    <head>
        <title>Coffee Shop</title>
        <link rel="stylesheet" href="http://localhost:8080/staffPage.css">
    </head>
    <body onload="getOrder()">

        <script>
            function getOrder(){
                var http = new XMLHttpRequest();
                var url = '/getOrderReview';
                http.open('GET', url, true);
                
                http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                http.onreadystatechange = function(){
                    if (http.readyState == 4 && http.status == 200){
                        var Order = JSON.parse(this.responseText);

                        var tableOrders = "<table class='table ' id='Orders-table'> <th>Beverage</th> <th>Price</th> <th>Order Number</th> <th></th>";


                        for (element in Order){
 
                            tableOrders += "<tr> <td>"+ Order[element].Item+"</td> <td>" + Order[element].OrderNumber+"</td>" 
                                        + " <td><button type='submit' onclick='completeOrder("+ JSON.stringify(Order[element].Item)+','+ JSON.stringify(Order[element].OrderNumber) +")'> completed </button></td> </tr>";

                        }
                        
                        document.getElementById("Orders").innerHTML = tableOrders;
                    }
                }
                http.send();
            }

            function completeOrder(item, OrderNumber){
                var http = new XMLHttpRequest();
                var url = '/completeOrder';
                http.open('POST', url, true);
                var params = 'Item='+item+'&OrderNumber='+OrderNumber;
                
                http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                http.onreadystatechange = function(){
                    if (http.readyState == 4 && http.status == 200){
                        alert("Order: "+OrderNumber+ " Has been completed");
                        getOrder();
                    }
                }
                http.send(params);
            }

            async function notifyUser(Item, OrderNumber){

            }

        </script>

        <div class="topnav">
            <a class="active" href="http://localhost:8080/staffPage">Home</a>
            <a href="http://localhost:8080/OrderReview">Oreders</a>
            <a href="http://localhost:8080/MenuAdd">Add menu</a>
            <a href="http://localhost:8080/">remove menu</a>
        </div>

        <h3>Orders in the system</h3>
        <div class="container" id="Orders">
        </div>
    </body>
</html>