<html>
    <head>
        <title>Coffee Shop</title>
        <link rel="stylesheet" href="http://localhost:8080/staffPage.css">
    </head>
    <body>

        <div class="topnav">
            <a class="active" href="http://localhost:8080/staffPage">Home</a>
            <a href="http://localhost:8080/OrderReview">Oreders</a>
            <a href="http://localhost:8080/MenuAdd">Add menu</a>
            <a href="http://localhost:8080/">remove menu</a>
        </div>
        <div class="container" id="homePage">
            <h1>Welcome to our coffee shop in the staff side</h1>

        </div>
    </body>
</html>